#hangman {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: black;
}

#hangman .segment {
  background: transparent;
  color: white;
  /*background: linear-gradient(to bottom right, rgba(45, 43, 33, 0.5), rgba(0, 0, 0, 0.5));*/
}

#banner {
  font-size: 3em;
}

#status {
  position: absolute;
  top: 0;
  left: 0;
  font-style: italic;
}

#graphics {
  background: url('img/background.jpg') no-repeat;
  background-size: contain;
  background-position: bottom;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


#guess span {
  width: 1em;
  align: center;
  vertical-align: bottom;
  display: inline-block;
  margin: 0.1em;
  border-bottom: grey 0.1em solid;
  border-radius: 4px;
}

#guess span.space {
  border-bottom: 0;
}

#graveyard {
  position: absolute;
  bottom: 0;
  right: 50%;
  float: right;
  transform: translate(50%, 0)
}

#graveyard img {
  position: absolute;
  float: left;
  filter: drop-shadow(5px -5px 5px rgba(0,0,0,0.4));
}

#mound {
  position: absolute;
  bottom: 0;
  right: 50%;
  animation: pulselight 4s infinite ease-in-out;
}

#hang {
  position: absolute;
  animation: pulselight 4s infinite ease-in-out, swing 3s infinite ease-in-out;
  transform-origin: top;
}

@keyframes swing{
    0%{transform:rotate(-2deg)}
    50%{transform:rotate(2deg)}
    100%{transform:rotate(-2deg)}
}

@keyframes pulselight{
  0% {
    filter: drop-shadow(0 -5px 8px rgba(255,255,140,0.2));
  }
  50% {
    filter: drop-shadow(0 -5px 4px rgba(140,255,140,0.5));
  }
  100% {
    filter: drop-shadow(0 -5px 8px rgba(255,255,140,0.2));
  }
}

#eyes {
  position: absolute;
}
